@import url("https://fonts.googleapis.com/css?family=Bungee");
body {
  background-image: linear-gradient(
    to left top,
    rgb(43, 7, 1),
    rgb(11, 10, 51)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px 30px;
  font-family: "Bungee", cursive;
}

h1 {
  color: white;
  margin: 0;
  animation: aitf 80s linear infinite;
  position: absolute;
  top: 30px;
  left: 30px;
}

#canvas {
  border: 2px solid rgb(88, 88, 88);
  background-size: 100%;
  background-color: black;
  border-radius: 5px;
}

.board-container {
  position: relative;
}

#score-container {
  position: absolute;
  right: -40px;
  top: -45px;
  font-size: 2em;
  display: flex;
  transform: rotate(15deg);
  border: 5px solid teal;
  border-radius: 10px;
}

#score {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0 20px;
  height: 63px;
  text-align: center;
  align-items: center;
}

#start-game {
  min-width: 160px;
  min-height: 60px;
  font-size: 1.6em;
  border-radius: 10px;
  transition: all 0.6s ease;
  margin-top: 50px;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  border: 5px solid teal;
  padding: 0 10px;
  font-family: "Bungee", cursive;
}

#start-game:hover {
  background: rgb(46, 35, 167);
  color: rgb(237, 240, 66);
  border: groove 10px rgb(0, 153, 255);
  cursor: pointer;
  background-image: unset;
}

.volume-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  fill: black;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  transition: all .6s ease;
  border: 7px solid teal;
  padding: 6px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100%;
}

.volume-icon:hover {
  background: rgb(46, 35, 167);
  fill: rgb(237, 240, 66);
  border: groove 7px rgb(0, 153, 255);
  background-image: unset;
}

.info-icon {
  position: absolute;
  top: 30px;
  right: 120px;
  fill: black;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  transition: all .6s ease;
  border: 7px solid teal;
  padding: 6px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100%;
}

.info-icon:hover {
  background: rgb(46, 35, 167);
  fill: rgb(237, 240, 66);
  border: groove 7px rgb(0, 153, 255);
  background-image: unset;
}

.visible {
  display: block;
}

.not-visible {
  display: none !important;
}

audio {
  display: none;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
}

.modal-content {
  min-width: 600px;
  height: 70%;
  max-height: 400px;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  border-radius: 12px;
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 245px;
  margin: 0 auto;
}

li {
  display: flex;
  text-align: left;
  align-items: center;
}

li span {
  margin-left: 20px;
}

.text-ctn {
  width: 450px;
  margin: 0 auto;
}

.death-icon {
  font-size: 1.5em;
  background: black;
  border-radius: 50%;
  padding: 5px;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: red;
  width: 30px;
  height: 30px;
  cursor: pointer;
}