@import url("https://fonts.googleapis.com/css?family=Bungee");
body {
  background-image: linear-gradient(
    to left top,
    rgb(43, 7, 1),
    rgb(11, 10, 51)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  font-family: "Bungee", cursive;
  margin: 35px 0 0 40px;
  animation: aitf 80s linear infinite;
}

#canvas {
  margin-left: 200px;
  margin-top: 130px;
  border: 2px solid rgb(88, 88, 88);
  background-size: 100%;
  background-color: black;
  border-radius: 3%;
}

#score {
  background-color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  display: flex;
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;
}

#compteARebours {
  margin-left: 530px;
}

#start-game {
  width: 150px;
  height: 150px;
  font-family: "Bungee", cursive;
  font-size: 1.7em;
  margin: 0 0 0 30px;
  bottom: 220px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.6s ease 0s;
}

button:hover {
  background: rgb(46, 35, 167);
  color: rgb(237, 240, 66);
  border: double 17px rgb(0, 153, 255)
}

#score-container {
  position: relative;
  left: 833px;
  bottom: 320px;
  font-family: "Bungee", cursive;
  font-size: 2em;
  display: flex;
}

p {
  color: white;
  font-family: "Bungee";
  font-size: 1.4em;
  float: right;
  margin-top: 260px;
  margin-right: 440px;
 
}
